@import url("https://fonts.googleapis.com/css?family=Lato");

@import "~normalize.css/normalize.css";
@import "helpers";


$cell-size: 100px;
$cell-radius: 8px;
$cell-margin: 6px;
$grid-border-width: 10px;
$grid-background: #B9ACA1;
$cell-background: #CABFB5;

body {
  font-family: "Lato", sans-serif;
}

#game {
  display: inline-block;
  margin: 50px;
  width: auto;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.score-addition {
  position: absolute;
  display: block;
  bottom: 25px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 26pt;
  color: green;
  font-weight: bold;

  animation-name: score-addition;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.banner {
  flex: 1;
  position: relative;
  margin: 0 10px;
  border-radius: $cell-radius;
  padding: 20px;
  background-color: $grid-background;
  text-align: center;
  color: #ffffff;

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }

  .banner-title {
    display: block;
    text-transform: uppercase;
    font-size: 10pt;
    margin-bottom: 3px;
  }

  .banner-content {
    font-weight: bold;
    font-size: 20pt;
  }
}

.footer {
  margin-top: 20px;
}

.button {
  @extend .banner;

  cursor: pointer;
}

.button.new-game {
  font-size: 20pt;
  font-weight: bold;
  text-transform: uppercase;
}

.grid {
  display: inline-block;
  border: $grid-border-width solid $grid-background;
  background-color: $grid-background;
  border-radius: $cell-radius;
}

.grid-cell {
  float: left;
  width: $cell-size;
  height: $cell-size;
  background-color: $cell-background;
  border-radius: $cell-radius;
  margin: $cell-margin;
}

.tiles {
  position: absolute;
}

.tile {
  width: $cell-size;
  height: $cell-size;
  font-weight: bold;
  color: #776F67;
  text-align: center;
  line-height: $cell-size;
  border-radius: $cell-radius;
  position: absolute;
  user-select: none;
}

.tile-new .tile {
  animation-name: appear;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.tile-merged {
  z-index: 10000;
}

.tile-merged .tile {
  animation-name: merge;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

$tile-base-color: #eee4da;
$tile-2048-color: #edb000;
$limit: 11;

@for $exponent from 1 through $limit {
  $tile-number: pow(2, $exponent);
  .tile-#{$tile-number} {
    background-color: mix($tile-2048-color, $tile-base-color, ($exponent - 1) / ($limit - 1) * 100);

    @if $tile-number >= 1024 {
      font-size: 25pt;
    } @else if $tile-number >= 128 {
      font-size: 28pt;
    } @else {
      font-size: 30pt;
    }
  }
}

@for $row from 1 through 4 {
  @for $col from 1 through 4 {
    .tile-position-#{$row}-#{$col} {
      transform: translateX($grid-border-width + ($col - 1) * $cell-size + ($col - 1) * $cell-margin * 2 + $cell-margin)
                 translateY($grid-border-width + ($row - 1) * $cell-size + ($row - 1) * $cell-margin * 2 + $cell-margin);
      transition-property: transform;
      transition: 150ms ease-in-out;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes score-addition {
  0% {
    bottom: 25px;
    opacity: 1;
  }

  100% {
    bottom: 75px;
    opacity: 0;
  }
}